* {
    margin: 0;
    padding: 0;
}

.layout {
    min-height: 100vh;
    background-color: #EFDAB5;
    font-family: 'Helvetica Neue';
}

.navContainer {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    min-height: 4em;
    z-index: 100;
    top: 3vh;
}

.navPill {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 1em;
    padding-right: 1em;
    width: calc(200px + 20vw);
    background-color: black;
    border-radius: 20em;
    box-shadow: 0px 0px 30px gray;
}

.home-logo {
    width: 100%;
    height: auto;
    min-width: 250px;
    max-width: 750px;
    display: block;
}

.home-content {
    padding-top: calc(70px);
    padding-bottom: 22vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: calc(5px + 1vw);
    align-items: center;
    align-content: center;
    justify-content: center;
}

.home-content h1 {
    font-size: calc(30px + 3vmin);
    color: charcoal;
    padding-bottom: 1vh;
}

.upcoming li {
    font-size: calc(8px + 2vmin);
    color: charcoal;
}

nav a {
    font-size: calc(18px + 1vmin);
    color: white;
    font-weight: medium;
    text-decoration: none;
    text-shadow: 0px 0px 3px black;
    user-select: none;
    &:hover {
        color: lightgray;
    }
}
nav a.active {
    text-decoration: underline;
    text-decoration-color: lightgray;
}

.title {
    width: 100vw;
    height: 100vh;
    font-size: calc(50px + 5vmin);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    filter: drop-shadow(0px 0px 80px black); /* text-shadow causes Safari pixelation */
    user-select: none;
    z-index: 99;
}

.socialsContainer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 4vh;
    width: 100vw;
    z-index: 100;
}

.socialsPill {
    gap: calc(5px + 1vw);
    display: flex;
    align-items: center;
    background-color: black;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 20em;
    box-shadow: 0px 0px 20px gray;
}

.content {
    padding-top: 16vh;
    padding-bottom: 10vh;
    padding-left: 14vw;
    padding-right: 14vw;
}

.content h1 {
    font-size: calc(40px + 4vmin);
    color: charcoal;
    padding-bottom: 4vh;
}

.content h2 {
    font-size: calc(10px + 3vmin);
    color: charcoal;
    padding-bottom: 2vh;
}

.content h3 {
    font-size: calc(8px + 2vmin);
    color: charcoal;
    padding-bottom: 2vh;
}

.content p {
    font-size: calc(12px + 1.5vmin);
    color: charcoal;
    padding-bottom: 2vh;
}