* {
    margin: 0;
    padding: 0;
}

.layout {
    min-height: 100vh;
    background-color: #EFDAB5;
    font-family: 'Helvetica Neue';
}

.navContainer {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    min-height: 4em;
    z-index: 100;
    top: 3vh;
}

.navPill {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 1em;
    padding-right: 1em;
    width: calc(200px + 20vw);
    background-color: black;
    border-radius: 20em;
    box-shadow: 0px 0px 30px black;
}

.home-logo {
    width: 90%;
    height: auto;
    min-width: 250px;
    max-width: 700px;
    display: block;
}

.home-content {
    padding-top: calc(140px + 2vw);
    padding-bottom: 22vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: calc(20px + 1vh + 1.5vw);
    align-items: center;
    align-content: center;
    justify-content: center;
}

.upcoming {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.upcoming h1 {
    font-size: calc(30px + 3vmin);
    color: charcoal;
    text-align:center;
    padding-bottom: 3vh;
}

.gig-list li {
    font-size: calc(11px + 2vmin);
    color: charcoal;
}

.gig-list a {
    color: #ff6b18;
    text-decoration: none;
    &:hover {
        color: #ff7b0d;
    }
}

.sound-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(2px + 0.5vw);
    width: calc(250px + 8vw);
    font-size: calc(18px + 1vmin);
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 20em;
    border-width: 6px;
    border-color: #4ca764;
    border-style: solid;
    background-color: #ff6b18;
    animation: pulse 3s infinite;
}

.sound-button:hover {
    background-color: #ff7b0d;
}

#dropboxButton {
    margin-top: 3vh;
}

nav a {
    font-size: calc(18px + 1vmin);
    color: #EFDAB5;
    font-weight: medium;
    text-decoration: none;
    text-shadow: 0px 0px 3px black;
    user-select: none;
    &:hover {
        color: #a88f6d;
    }
}
nav a.active {
    text-decoration: underline;
    text-decoration-color: #EFDAB5;
}

.title {
    width: 100vw;
    height: 100vh;
    font-size: calc(50px + 5vmin);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    filter: drop-shadow(0px 0px 80px black); /* text-shadow causes Safari pixelation */
    user-select: none;
    z-index: 99;
}

.socialsContainer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 4vh;
    width: 100vw;
    z-index: 100;
}

.socialsPill {
    gap: calc(5px + 1vw);
    display: flex;
    align-items: center;
    background-color: black;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 20em;
    box-shadow: 0px 0px 30px black;
}

.content {
    padding-top: 16vh;
    padding-bottom: 20vh;
    padding-left: calc(10px + 10vw);
    padding-right: 10vw;
}

.content h1 {
    font-size: calc(40px + 4vmin);
    color: charcoal;
    padding-bottom: 4vh;
}

.content h2 {
    font-size: calc(10px + 3vmin);
    color: charcoal;
    padding-bottom: 2vh;
}

.content h3 {
    font-size: calc(8px + 2vmin);
    color: charcoal;
    padding-bottom: 2vh;
}

.content p {
    font-size: calc(12px + 1.5vmin);
    color: charcoal;
    padding-bottom: 3vh;
}

.about-us-content {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
}

.about-us-content > * {
    flex: 1 1 450px;
    min-width: 0;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.large-landscape-img {
    width: calc(150px + 15vw);
}

hr {
    width: 75%;
    height: 3px;
    border: none;
    border-radius: 6px;
    background: #a88f6d;
    margin-top: 4vh;
}

#shuffle {
    height: calc(18px + 1vmin);
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}